.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    background-color: rgba(240, 234, 234, 0.884);
    height: 100%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center ;
    width: 50%;
    gap: 1em;
    border: solid black 2px;
    height: 90vh;
    background-color: white ;

}

input,select,textarea,button{
    width: 70%;
    height: 2em;
    resize: none;
}