.formContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/ducxt7zb3/image/upload/v1645273063/wave-haikei_2_ffzo7v.svg");
  height: 95vh;
  width: 100%;
}
.formImage {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 70%;
  height: 70vh;
}
.insideForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  gap: 1em;
  color: aliceblue;
  margin-left: 8em;
  margin-top: 2em;
}
input,
select,
textarea{
  width: 300px;
  height: 50px;
  resize: none;
  border-radius: 1em;
  text-align: center;
  padding: 0;
  outline: none ;
  border: none; 
}
select{
  height: 50px;
  outline: none ;
  border: none; 
}
textarea{
  width: 500px;
  height: 100px;
}
button {
  color: white;
  min-width: 500px;
  min-height: 50px;
  resize: none;
  text-align: center;
  padding: 0;
  outline: none ;
  border: none; 
  border-radius: 1em;
  background-color: rgb(26, 82, 238);
  font-family: "Cinzel Decorative", cursive;
  font-size: 1em;
}
.formTitle{
  font-family: "Cinzel Decorative", cursive;  
  text-decoration: underline;
  font-size: 1.3em;
  margin-top: 1em;
  margin-left: 0.7em;
}
li{
  font-size: 1.3em;
}
