.formContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/ducxt7zb3/image/upload/v1645273063/wave-haikei_2_ffzo7v.svg");
  height: 90vh;
  width: 100%;

  /* border: solid 2px black; */
  /* margin-top: 4em; */
}
.formImage {
  width: 30%;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  height: 70vh;
  color: white;
  border: solid 2px black;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 70%;
  border: solid black 2px;
  height: 70vh;
  /* background-color: white; */
}

input,
select,
textarea,
button {
  height: 2em;
  resize: none;
  border-radius: 1em;
  text-align: center;
}
