.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 234, 234, 0.884);
  height: 90vh;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 50%;
  /* border: solid black 2px; */
  height: 70vh;
  background-color: white;
  border-radius: 10em;
}

input,
select,
textarea,
button {
  width: 70%;
  height: 2em;
  resize: none;
  border-radius: 1em;
  text-align: center;
}
