.homeContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 10em;
  background-color: rgba(56, 50, 50, 0.164);
  width: 100%;
  height: 80vh;
}
.dangerOutside {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 500px;
  height: 500px;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  background-color: black;
  font-size: 1em;
  animation-name: borderColor;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
.danger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 238, 0);
  width: 460px;
  height: 470px;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  color: black;
  font-size: 2.5em;
  animation-name: backgroundColor;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
h1 {
  font-size: 0.5em;
  text-decoration: underline;
}
@keyframes backgroundColor {
  from {
    background-color: rgb(255, 238, 0);
  }
  to {
    background-color: rgb(255, 255, 255);
  }
}
@keyframes borderColor {
  from {
    background-color: black;
  }
  to {
    background-color: rgb(255, 0, 0);
  }
}
