.homeContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 95vh;
  background-image: url("https://res.cloudinary.com/ducxt7zb3/image/upload/v1645458097/american-football-g8d3b1aec4_1280_zcxyvr.jpg");
}
.homeInfo{
  border: solid white 1px;
  width: 50%;
  height: 95%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.homeTitle{
  margin-top: 1.5em;
  font-size: 3em;
  font-family: monospace;
  text-decoration: none;
}
.linkToNews{
  width: 200px;
  height: 50px;
  background-color: rgb(26, 82, 238);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center ;
  border-radius: 5em;
}
.sports{
  width: 90%;
  margin-top: 3.5em;
  color: white;
  width: 100%;
}
/* .dangerOutside {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 500px;
  height: 500px;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  background-color: black;
  font-size: 1em;
  animation-name: borderColor;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
.danger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 238, 0);
  width: 460px;
  height: 470px;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  color: black;
  font-size: 2.5em;
  animation-name: backgroundColor;
  animation-duration: 3s;
  animation-iteration-count: infinite;
} */
h1 {
  font-size: 0.5em;
  text-decoration: underline;
}
/* @keyframes backgroundColor {
  from {
    background-color: rgb(255, 238, 0);
  }
  to {
    background-color: rgb(255, 255, 255);
  }
}
@keyframes borderColor {
  from {
    background-color: black;
  }
  to {
    background-color: rgb(255, 0, 0);
  }
} */
