nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: white;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 1px rgba(128, 128, 128, 0.959);
  position: fixed;
  top: 0;
}
.links {
  display: flex;
  justify-content: flex-end;
  gap: 3em;
  width: 50%;
  margin-right: 1em;
}
.links :hover {
  border-top: solid 1.2px rgb(123, 123, 233);
}
a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 50%;
  margin-left: 1em;
  color: black;
  font-size: 2.5em;
  font-family: "Cinzel Decorative", cursive;
}
